<div class="sidebar">
  <div class="profile">
    <img
      src="../../../assets/image/download%20(2).png"
      alt="">
    <h3>John Doe</h3>
    <p>Designer</p>
  </div>
  <ul>
    <li>
      <a routerLink="/dashboard">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="item">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/category">
        <span class="icon"><i class="fas fa-user-friends"></i></span>
        <span class="item">Category</span>
      </a>
    </li>
    <li>
      <a routerLink="/product">
        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
        <span class="item">Product</span>
      </a>
    </li>
    <li>
      <a routerLink="/stock">
        <span class="icon"><i class="fas fa-database"></i></span>
        <span class="item">Stock</span>
      </a>
    </li>
    <li>
      <a routerLink="/reports">
        <span class="icon"><i class="fas fa-chart-line"></i></span>
        <span class="item">Reports</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fas fa-user-shield"></i></span>
        <span class="item">Admin</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fas fa-cog"></i></span>
        <span class="item">Settings</span>
      </a>
    </li>
  </ul>
</div>

<div class="section">
  <div class="top_navbar">
    <div class="hamburger">
      <a href="#"><i class="fas fa-bars"></i></a>
    </div>
  </div>
</div>
