<div class="wrapper">
  <app-side-menu></app-side-menu>
  <div class="section">
    <h3 class="text-center m-5">Welcome to Stocks Page</h3>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Issue Date</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of stocks">
              <td>{{stock.id}}</td>
              <td>{{stock.product}}</td>
              <td>{{stock.date}}</td>
              <td>{{stock.stock}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2">

      </div>

    </div>

  </div>


</div>

